{% extends 'RFID/base.html' %}
{% load crispy_forms_tags %}
{% block title %}User{% endblock %}

{% block content %}
<div class="row">
  <div class="col-sm-5">
    <div class="box">
      <div class="box-title">
        <h5>Update Existing User</h5>
      </div>
      <form action="update-user" method="post" class="form-group">
        {% csrf_token %}
        {{update_form |crispy}}
        <button type="submit" name="Update" class="btn btn-success">Update</button>
        <button type="submit" name="Delete" class="btn btn-success">Delete</button>
      </form>
    </div>
  </div>
</div>
{% endblock %}
