body {
  margin: 0;
  padding: 0;
  background: url("/static/Images/Earlham.jpg") no-repeat;
  background-size: cover;
}

.login-box {
  padding: 20px;
  color: black;
  width: 350px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 25px;
}

.transparent{
  background:rgba(255,255,255,0.5);
}
