{% extends 'student/base.html' %}

{% block content %}

<div class="container">
  <div class="row">
    <div class="col-sm-5 img-container">
      <img class="img-thumbnail" src="/static/student/Images/profile.jpg" alt="Profile-img">
    </div>
    <div class="col-sm-6">
      <div class="text-box">
        <div class="title-text">
          <h3>Ali Shahram Musavi</h3>
          <h5>Earlham College 19</h5>
          <h6>Computer Science and Economics</h6>
        </div>
        <div class="body-text">
          <p>I built this project as part of my captsone project.
          I wanted to build a software solution to better manage the resources
          availabe at the Center for Science and Technology, and help enhance student
          accessibility. It was a great experience, and I am grateful for the help and
          support of CS department faculty.</p>
          <p>Below is the documentation for the project: </p>
        </div>
        <div>
          <div class="media-icon">
            <div class="fa-icon">
              <a class="fas fa-link" href="https://drive.google.com/file/d/1dmml0dZB9LXT5lMwiyttxiSU-eonR-mv/view?usp=sharing" target="_blank"></a>
            </div>
            <div class="media-information">
              <h6 style="font-weight: bold">A Self-service System Using RFID</h6>
            </div>
          </div>
          <div class="media-icon">
            <div class="fa-icon">
              <a class="fas fa-link" href="https://drive.google.com/file/d/1isigOQsbn94KmuE0_F9zJoqZWs0KxAZr/view?usp=sharing" target="_blank"></a>
            </div>
            <div class="media-information">
              <h6 style="font-weight: bold">Project Proposal</h6>
            </div>
          </div>
          <div class="media-icon">
            <div class="fa-icon">
              <a class="fas fa-link" href="https://drive.google.com/file/d/1ld1MfTWFNynK15xh7fff-FsJvxiuhP43/view?usp=sharing" target="_blank"></a>
            </div>
            <div class="media-information">
              <h6 style="font-weight: bold">Project Poster</h6>
            </div>
          </div>
        </div>
        <div class="contact-info">
        <p>...</p>
          <p>Please reach out if you have any questions or simply want to say hi!</p>
          <div class="contact-icon">
            <div class="fa-icon">
              <a class="fa-envelope-square fa" href="mailto:shahrammusavi86@gmail.com"></a>
            </div>
            <div class="fa-icon">
              <a class="fa-phone fa" href="facetime-audio:14085551234"></a>
            </div>
            <div class="fa-icon">
              <a class="fa-github-square fab" href="https://github.com/AliShahram" target="None"></a>
            </div>
            <div class="fa-icon">
              <a class="fa-linkedin fab" href="https://linkedin.com/in/alishahram" target="None"></a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}
